 <body background="../assets/new.jpg" id="bg" >
	<div align="center">
		<div class="mydiv">
		<br>
		<br>
	<%= render partial: "questions/form" %>

		</div>
	</div>

   <div id="footer">
    <p> Copyright@2016 by Adrien Gonzalez</p>
   </div>
</body>


