<div class="container-fluid">
	<div class="row">
<br>
<br>
<br>
<br>
<br>

<ul class="list-group">
	<%i = 0%>
		<% @question.each do |q| %>
	<% if i%2 ==0 %>
		<li class="list-group-item list-group-item-info">
			<% if q.user_id == current_user.id %>
				<%= q.question_title %>
				<a href="/questions/<%=q.id%>/answers" class="btn btn-primary" role="button">Show</a>
				<% i=i+1%>
			<% end %>
		<%else%>
				<li class="list-group-item">
				<% if q.user_id == current_user.id %>
				<%= q.question_title %>
				<a href="/questions/<%=q.id%>/answers" class="btn btn-primary" role="button">Show</a>
				<% i=i+1%>
		<% end %>
<% end %> <br>

</li>
<br>
<% end %>
</ul>