<!DOCTYPE html>
<html>
<body>

    <form>
 
 <a href="/questions/new">  New Question ? </a>
<br>
<a href="/mysummits"> Show my questions summited </a>
<br>
<a href="/questions"> Show all questions </a> 
</form> 
  


</body>