
<!DOCTYPE html>
<html>
<body>

<div class="container-fluid">
  <div class="row row-bottom-margin">
    <div class="col-sm-12">
      <div class="jumbotron text-center row-bottom-margin" bacground = "../assets/essai15.jpeg" id="bg">

        <h1>Welcome to Rememberme</h1>
        <h2>Ask and answer questions!</h2>
      </div>
    </div>
  </div>


  <div class="row  row-top-margin">
     <div class="col-sm-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="../assets/37919-1920x1200.jpeg" alt="Chania">
            <div class="carousel-caption">
                   
            </div>
        </div>
          <div class="item">
            <img src="../assets/361786.jpeg" alt="Chania">
          </div>
          <div class="item">
            <img src="../assets/superior-wisconsin_00329134.jpeg" alt="Chania">
          </div>
          <div class="item">
            <img src="../assets/tropical-beach-landscape-best-collection.jpeg" alt="Chania">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid text-center">
  <h3> Random Question! Discover the Answer :) </h3>
  <div class= "col-sm-10">
    <% q=0%>

    <% while q<5 do %>      
    <div class="row">
      <div class="col-sm-2">
        <div class="well">
          <img src="../assets/<%=rand(1..6)%>.jpeg" class="img-circle" height="55" width="55" alt="Avatar">          
        </div>
      </div>

      <div class="col-sm-8">
        <div class="well">       
          <% offset = rand((Question.count))+3 %>
          <h3><% question = Question.find_by_id(offset) %> </h3>
             <% if question.try(:question_title?) %>
              <% if question.try(:id?) %>
                <p><a href="/questions/<%=question.id%>/answers"><%= question.question_title %></a> </p>
                
              <% end %>       
            <% end %> 
            <% q = q+1 %>           
        </div>     
      </div>
    </div>
    <%end%>
  </div>
  <br>
  <br>

  <div class="col-sm-2">
     <div class="well">
        <br>
        <br>
        <br>
        <br>
        <p>ADS</p>
        <br>
        <br>
        <br>
        <br>

     </div> 
     <div class="well">
        <p>ADS</p>
     </div>
     <div class="well">
        <br>
        <br>
        <p>ADS</p>
        <br>
        <br>
    </div>
  </div>
        <br>
        <br>
 </div>

<br>

 <div class="container-fluid">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Got questions? I will try to answer it,contact me through</em></p>
  <div class="row test">
    <div class="col-md-12">
      <p></p>
      <div class="text-center">
        <p><span class="glyphicon glyphicon-phone"></span>Phone: +00000000</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: gonzalez_ad@hotmail.fr</p>
      </div>
    </div>
 
  </div>
</div>
<br>
<br>
  <div class= "container-fluid">
    <div class="col-sm-12">
      <div class="row">
        <footer class="container-fluid text-center">
          <p>Copyright@2016 by Adrien Gonzalez</p>
        </footer>
      </div>
    </div>
  
  </body>
</html>



