
<!DOCTYPE html>
<html>
<body>

<div class="container-fluid">
  <div class="row row-bottom-margin">
    <div class="col-sm-12">
      <div class="jumbotron text-center row-bottom-margin">
        <h1>Welcome to Rememberme</h1>
        <h3>Ask and answer questions!</h3>
      </div>
    </div>
  </div>


  <div class="row  row-top-margin">
     <div class="col-sm-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://localhost:3000/assets/37919-1920x1200.jpeg" alt="Chania">
            <div class="carousel-caption">
                   
            </div>
        </div>
          <div class="item">
            <img src="http://localhost:3000/assets/361786.jpeg" alt="Chania">
          </div>
          <div class="item">
            <img src="http://localhost:3000/assets/superior-wisconsin_00329134.jpeg" alt="Chania">
          </div>
          <div class="item">
            <img src="http://localhost:3000/assets/tropical-beach-landscape-best-collection.jpeg" alt="Chania">
          </div>
          </div>
      </div>
      </div>
    </div>
</div>

<br>
<br>
<div class = "container-fluid text-center">
        <h3> Random Question! Discover the Answer :) </h3>
  <div class= "col-sm-10">
        <% q=0%>
      <% while q<5 do %>      
    <div class="row">

      <div class="col-sm-2">
          <div class="well">
            <img src="http://localhost:3000/assets/<%=rand(1..6)%>.jpeg" class="img-circle" height="55" width="55" alt="Avatar">
           
          </div>
      </div>
      <div class="col-sm-8">
          <div class="well">       
            <% offset = rand((Question.count))+3 %>
            <h3><% question = Question.find_by_id(offset) %> </h3>
              <% if question.try(:question_title?) %>
              <% if question.try(:id?) %>
              <p><a href="/questions/<%=question.id%>/answers"><%= question.question_title %></a> </p>
              <% q = q+1 %>
              <% end %>       
              <% end %>
                 
            
          </div>     
      </div>
        </div>
        <%end%>
        </div>
  <div class="col-sm-2">
     <div class="well">
        <p>ADVERTISEMENT</p>
        <p>ADVERTISEMENT</p>
        <p>ADVERTISEMENT</p>
        <p>ADVERTISEMENT</p>
        <p>ADVERTISEMENT</p>
        <p>ADVERTISEMENT</p>
     </div> 
     <div class="well">
        <p>ADS</p>
     </div>
     <div class="well">
        <p>ADS</p>
    </div>
  </div>
        <br>
        <br>
   
 
 </div>


<br>

 <div class="container-fluid">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>A Question? I will try to answer it!</em></p>
  <div class="row test">
    <div class="col-md-3">
      <p></p>
     
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00000000</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class= "container-fluid">
  <div class="col-sm-12">
  <div class="row">
  <footer class="container-fluid text-center">
  <p>Copyright@2016 by Adrien Gonzalez</p>
</footer>
</div>
</div>
</body>
</html>



