<!DOCTYPE html>
<html>
<body>

<div style="background-color:black;color:white;padding:20px;">
  <h2>Remenberme</h2>
  <p>Remenberme is a dynamic website where you cqn ask and anwser a lot of questions</p>

   <form>
 <a href="/users/<%= current_user.id %>"> profile </a>
 <br>
 
 <a href="/questions/new"> Question </a>
<br>
<a href="/questions"> Show my questions </a>
 
</form> 
  
</div> 

</body>
</html>




