<html>
<div class="box2">
 <body background="../assets/flat-landscape.jpg" id="bg" >
	<div align="center">
		<div class="mydiv">
			<%= render partial: "answers/form" %>
		</div>	
	</div>
</body>
</div>

</html>