<% @question.question_title %>
<%= @answer.answer_body %>

<% if current_user.voted_up_on? @answer  %>
      <%= link_to "Dislike", dislike_question_answer_path, class: 'vote', method: :put %>      
  <% else %>
      <%= link_to "Like", like_question_answer_path, class: 'vote', method: :put %>
  <% end %>


  <span> · </span>


<%= @answer.get_likes.size %> users like this
<br>

