<%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>
    
<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">Get Preminium</h2>
  <%= form_tag registrations_path do%>
    <p>To become prenium it s 10 USD</p>
    <div id="dropin"></div>
	    <%=submit_tag "Pay", class: "button mt1" %>
  <%end%>
</div>
